{% extends 'base.html' %}


  	{% block content %}
    <h1 style="text-align: center; margin: 40px; font-size: 50px;">Forum Questions </h1>

    <!-- Start Table -->
    	<div class="container">
    	<table class="table table-striped table-bordered ">
  		<thead class="table-dark">
    		<tr>
      			<th scope="col">Id</th>
      			<th scope="col">Author</th>
            <th scope="col">Question</th>
            <th scope='col'>Tag</th>
      			<th scope="col">Create_at</th>
            <th scope="col">Details</th>
    		</tr>
  		</thead>
  		<tbody>

      {{new_list}}
      {% for x , y in new_data %}
     
    	<tr>
      		<th scope="row">{{ x.id }}</th>
      		<td>{{ x.author }}</td>
          <td>{{ x.question }}</td>
          <th>{{ y }}</th>
      		<td>{{ x.create_at }}</td>
          <td><a href="{% url 'question_details' q_id=x.id %}">Deatils</a></td>
    	</tr>
      
      {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}

    <!-- End Table -->

    

    























